body{
    background-color:  rgb(22, 22, 22);
}
header{
    background-color: black;
}
.navbar-brand{
    color: white;
}
.navbar-brand img{
    align-items: center;
    height: 30px;
    margin-right: 10px;
}
.reproductor{
     background-color: rgb(29, 29, 29);
}
.card{
    width: 18rem;
    background-color:  black;
}
.nosotros{
    background-color:  rgb(29, 29, 29);
}
.card-link{
    color: grey;
}

.card-title{
    color: white;
    padding: 20px;
    font-weight: lighter;
}
.card-text{
    color: white;
}
.list-group{
    font-size: small;
    font-weight: normal;
}
.ranking{
    background-color: black;
    color: white;
}
.novedades{
    background-color: black;
    color: white;
}
footer{
    background-color: black;"
}
ul{
    line-height: 10px;
}