body{
    background-color:  rgb(22, 22, 22);
}
header{
    background-color: black;
}
.navbar-brand{
    color: white;
}
.navbar-brand img{
    align-items: center;
    height: 30px;
    margin-right: 10px;
}
.reproductor{
     background-color: black;
     
}
.card{
    width: 18rem;
    background-color:  black;
}
.nosotros{
    background-color:  rgb(29, 29, 29);
}
.card-link{
    color: grey;
}

.card-title{
    color: white;
    padding: 20px;
    font-weight: lighter;
}
.card-text{
    color: white;
}
.list-group{
    font-size: small;
    font-weight: normal;
}

.ranking{
    background-color: black;
    color: white;
}
.novedades{
    background-color: black;
    color: white;
}
.navbar {
    background-color: black;
}
footer{
    background-color: black;
}
ul{
    line-height: 10px;
}

/* Customize the advanced audio player's appearance here */
.audio-player {
    width: 300px;
    margin: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.progress {
    height: 10px;
    background-color: #ccc;
    margin-top: 10px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
}

#current-time, #total-time {
    margin-top: 10px;
}